#bttop {
    padding: 5px;
    position: fixed;
    bottom: 35px;
    right: 10px;
    cursor: pointer;
    display: none;
}

.none {display:none;}
.block {display:block;}
@font-face {
  font-family: samsungbold;
  src: url(../fonts/iCielSamsungSharpSans-Bold.eot);
  src: url(../fonts/iCielSamsungSharpSans-Bold.eot) format("embedded-opentype"), url(../fonts/iCielSamsungSharpSans-Bold.woff2) format("woff2"), url(../fonts/iCielSamsungSharpSans-Bold.woff) format("woff"), url(../fonts/iCielSamsungSharpSans-Bold.ttf) format("truetype"), url(../fonts/iCielSamsungSharpSans-Bold.svg) format("svg");
}

@font-face {
  font-family: Roboto_Regular;
  src: url(../fonts/Roboto-Regular.eot);
  src: url(../fonts/Roboto-Regular.eot) format("embedded-opentype"), url(../fonts/Roboto-Regular.woff2) format("woff2"), url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.ttf) format("truetype"), url(../fonts/Roboto-Regular.svg) format("svg");
}

@font-face {
  font-family: Roboto_Bold;
  src: url(../fonts/Roboto-Bold.eot);
  src: url(../fonts/Roboto-Bold.eot) format("embedded-opentype"), url(../fonts/Roboto-Bold.woff2) format("woff2"), url(../fonts/Roboto-Bold.woff) format("woff"), url(../fonts/Roboto-Bold.ttf) format("truetype"), url(../fonts/Roboto-Bold.svg) format("svg");
}
@font-face
{
  font-family: sseight;
  src:url('../fonts/SamsungOne-800.eot?');
  src:url('../fonts/SamsungOne-800.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SamsungOne-800.woff2') format('woff2'),
      url('../fonts/SamsungOne-800.woff') format('woff'),
      url('../fonts/SamsungOne-800.ttf') format('truetype'),
      url('../fonts/SamsungOne-800.svg#SamsungOne-800') format('svg');
}
@font-face
{
  font-family: samsungmedium;
  src:url('../fonts/SamsungSharpSans-Medium.eot?');
  src:url('../fonts/SamsungSharpSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SamsungSharpSans-Medium.woff2') format('woff2'),
      url('../fonts/SamsungSharpSans-Medium.woff') format('woff'),
      url('../fonts/SamsungSharpSans-Medium.ttf') format('truetype'),
      url('../fonts/SamsungSharpSans-Medium.svg#SamsungSharpSans-Medium') format('svg');
}
@font-face
{
  font-family: ssfive;
  src:url('../fonts/SamsungOne-500.eot?');
  src:url('../fonts/SamsungOne-500.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SamsungOne-500.woff2') format('woff2'),
      url('../fonts/SamsungOne-500.woff') format('woff'),
      url('../fonts/SamsungOne-500.ttf') format('truetype'),
      url('../fonts/SamsungOne-500.svg#SamsungOne-500') format('svg');
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: #000;
  font-family: Arial, Tahoma;
  width: 100%;
  margin: 0 auto;
}

.container_screen {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

header,
section {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  position: relative;
  background-image: url(../img/bg-header.jpg);
  background-color: #921010;
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.boxnav{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  position: relative;
  background-image: url(../img/bg-nav.jpg);
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.boxnavscreen{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.boxnav a{
  width: 50%;
  font-size: 22px;
  font-family: 'samsungbold', Arial, Tahoma;
  font-weight: normal;
  text-transform: uppercase;
  color: #f6eb90;
  display: block;
  padding: 11px 0px 8px 0px;
}
.boxnav a span{
  color: #f6eb90;
}
.boxnav a.current{
  background: rgba(239,218,102,1);
  background: -moz-linear-gradient(left, rgba(239,218,102,1) 0%, rgba(246,236,146,1) 39%, rgba(246,236,146,1) 61%, rgba(251,223,112,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,218,102,1)), color-stop(39%, rgba(246,236,146,1)), color-stop(61%, rgba(246,236,146,1)), color-stop(100%, rgba(251,223,112,1)));
  background: -webkit-linear-gradient(left, rgba(239,218,102,1) 0%, rgba(246,236,146,1) 39%, rgba(246,236,146,1) 61%, rgba(251,223,112,1) 100%);
  background: -o-linear-gradient(left, rgba(239,218,102,1) 0%, rgba(246,236,146,1) 39%, rgba(246,236,146,1) 61%, rgba(251,223,112,1) 100%);
  background: -ms-linear-gradient(left, rgba(239,218,102,1) 0%, rgba(246,236,146,1) 39%, rgba(246,236,146,1) 61%, rgba(251,223,112,1) 100%);
  background: linear-gradient(to right, rgba(239,218,102,1) 0%, rgba(246,236,146,1) 39%, rgba(246,236,146,1) 61%, rgba(251,223,112,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efda66', endColorstr='#fbdf70', GradientType=1 );
}
.boxnav a.current span{
  color: #9f0000;
}
.header_col,
.header_col2 {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.header_col{
  padding-bottom: 2.6%;
}
.logosamsung {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 35px;
  margin-bottom: 25px;
}
.logosamsung img{
  display: inline-block;
}
.logodmcl {
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 15px;
}
.header_col2 .logodmcl img{
  display: inline-block;
   text-align: right;
}
.header_col_banner {
  width: 59%;
  height: 100%;
  float: left;
  z-index: 10;
}

.header_col_banner img {
  display: block;
  z-index: 20;
}

.header_col2 {
  width: 41%;
  float: right;
}
.header_col2 h1{
  font-size: 48px;
  color: #fff;
  font-family: 'samsungbold', Arial, Tahoma;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 8%;
  position: relative;
}
.header_col2 h1:after{
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  content: "";
  background-image: url(../img/light.png);
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 57px;
  z-index: -1;
}
.header_col2 h2{
  font-size: 53px;
  color: #f3e582;
  font-family: 'samsungbold', Arial, Tahoma;
  font-weight: normal;
  margin: 5px auto;
}

.header_col2 img{
  display: block;
  text-align: center;
  margin: 0 auto;
}
.header_col2 span{
  color: #f3e583;
  font-size: 18px;
  font-family: 'samsungbold', Arial, Tahoma;
  margin: 15px auto;
  padding: 7px 25px 5px 25px;
  border: 1px solid #f3e583;
  border-radius: 7px;
  display: inline-block;
}
.box_rule{
  overflow: hidden;
}
.bg_title{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  position: relative;
  background-image: url(../img/bg-tit.jpg);
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.bg_title h3{
  color: #fff;
  font-size: 18px;
  font-family: 'samsungbold', Arial, Tahoma;
  padding: 0px 0px 5px 0px;
  text-align: center;
  margin-bottom: 0px;
}
.bg_content{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  position: relative;
  background-image: url(../img/bg-thele.jpg);
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.bg_content p{
  font-size: 14px;
  color: #000;
  font-family: 'ssfive', Arial, Tahoma;
  line-height: 25px;
  padding: 2%;
  background-color: #fff;
  width: 92%;
  margin: 1.5% auto;
  border-radius: 10px;
  text-align: left;
}
.bg_content p strong{
  font-weight: normal;
  font-family: 'sseight', Arial, Tahoma;
}
.bg_content p b{
  color: #e8263e;
  font-weight: normal;
  font-family: 'sseight', Arial, Tahoma;
}
.list_bannershow{
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding-left: 0px;
  margin-top: 15px;
  margin-bottom: 35px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list_bannershow li{
  display: inline-block;
  overflow: hidden;
  margin-right: 1%;
  width: 25%;
}
.list_bannershow li a{
  display: block;
  text-align: center;
  background: rgba(239,218,102,1);
  background: -moz-linear-gradient(left, rgba(239,218,102,1) 0%, rgba(246,236,146,1) 39%, rgba(246,236,146,1) 61%, rgba(251,223,112,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,218,102,1)), color-stop(39%, rgba(246,236,146,1)), color-stop(61%, rgba(246,236,146,1)), color-stop(100%, rgba(251,223,112,1)));
  background: -webkit-linear-gradient(left, rgba(239,218,102,1) 0%, rgba(246,236,146,1) 39%, rgba(246,236,146,1) 61%, rgba(251,223,112,1) 100%);
  background: -o-linear-gradient(left, rgba(239,218,102,1) 0%, rgba(246,236,146,1) 39%, rgba(246,236,146,1) 61%, rgba(251,223,112,1) 100%);
  background: -ms-linear-gradient(left, rgba(239,218,102,1) 0%, rgba(246,236,146,1) 39%, rgba(246,236,146,1) 61%, rgba(251,223,112,1) 100%);
  background: linear-gradient(to right, rgba(239,218,102,1) 0%, rgba(246,236,146,1) 39%, rgba(246,236,146,1) 61%, rgba(251,223,112,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efda66', endColorstr='#fbdf70', GradientType=1 );
  border-radius: 10px;
  padding: 13px 0px 0px 0px;
  color: #9f0000;
}
.list_bannershow li a span{
  color: #9f0000;
  font-size: 18px;
  font-family: 'samsungbold', Arial, Tahoma;
  text-align: center;
  text-transform: uppercase;
}
.list_bannershow li a strong{
  color: #9f0000;
  font-size: 42px;
  font-family: 'samsungbold', Arial, Tahoma;
  text-align: center;
  text-transform: uppercase;
}
.list_bannershow li:last-child{
  margin-right: 0px;
}
.list_bannershow li.active a{
  background: rgba(235,39,45,1);
  background: -moz-linear-gradient(left, rgba(235,39,45,1) 0%, rgba(159,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,39,45,1)), color-stop(100%, rgba(159,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(235,39,45,1) 0%, rgba(159,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(235,39,45,1) 0%, rgba(159,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(235,39,45,1) 0%, rgba(159,0,0,1) 100%);
  background: linear-gradient(to right, rgba(235,39,45,1) 0%, rgba(159,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb272d', endColorstr='#9f0000', GradientType=1 );
  color: #f8ef9a;
  border: 2px solid #f8ef9a;
}
.list_bannershow a:focus{
  text-decoration: none;
}
.list_bannershow li.active a span{
  color: #f8ef9a;
}
.list_bannershow li.active a strong{
  color: #f8ef9a;
}
.img_linebox{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}
.img_linebox img{
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 12px;
}
.boxsilk{
  position: relative;
}
.boxsilk:before{
  position: absolute;
  top: -10px;
  left: 0px;
  content: "";
  background-image: url(../img/silk-left.png);
  background-position: center left;
  background-attachment: scroll;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
  width: 9%;
  height: 200px;
  z-index: 1;
}
.boxsilk:after{
  position: absolute;
  top: -14px;
  right: 0px;
  content: "";
  background-image: url(../img/silk-right.png);
  background-position: center right;
  background-attachment: scroll;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
  width: 9%;
  height: 200px;
}
nav {
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 0% 0px;
}

.menunav {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.menunav {
  width: 100%;
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.menunav li {
  position: relative;
  padding: 10px 0px 8px 0px;
  width: 33.3%;
  text-align: center;
  cursor: pointer;
  list-style: none;
  background-image: none;
  border: 1px solid #f6eb90;
}

.menunav li.active {
  cursor: pointer;
  background-image: url(../img/bg-repeat-menu.jpg);
  background-position: center top;
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-size: cover;
  border: 1px solid #f2e0c5;
}

.menunav li a {
  color: #fbe278;
  font-size: 18px;
  font-family: samsungbold, Arial, Tahoma;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  display: block;
}

.menunav li a::hover {
  color: #9f0000;
}

.menunav li.active a {
  color: #9f0000;
  text-decoration: none;
}
.menunav li:last-child{
  margin-right: 0px;
}
.header_col_banner .logosamsung .mobi_dmcl{
  display: none;
}
section {
  background-image: url(../img/bg-content.jpg);
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
}

.box_content {
  width: 100%;
  overflow: hidden;
  margin: 0px auto;
  background: url(../img/bg-repeat.jpg) repeat scroll center top;
  padding-top: 10px;
}
.container_screen .box_content:first-child {
  display: block;
}
.list_product {
  width: 100%;
  display: block;
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.list_product li {
  width: 23.5%;
  margin: 0.5% 1% 0.5% 1%;
  float: left;
  border: 1px solid #efddc3;
  margin-left: -1px;
  background-color: #fff;
  list-style: none;
}

.list_product li:first-child {
  margin-left: 1%;
}

.list_product li:nth-child(4n+1) {
  margin-left: 1%;
}

.img_pro {
  width: 100%;
  text-align: center;
  position: relative;
  display: block;
  background-color: #fff;
  height: 220px;
}

.img_pro img {
  display: block;
  margin: 10px auto;
  text-align: center;
  width: 220px;
  height: 220px;
}

.iconx {
  background-image: url(../img/icon-giam-1-trieu.png);
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  height: 56px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
}
.icon11 {
  background-image: url(../img/icon-gia-soc.png);
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 108px;
  height: 55px;
  position: absolute;
  top: -10px;
  right: 5px;
}
.notepercent{
  width: 100%;
  overflow: hidden;
  margin: 10px auto;
}
.notepercent span
{
  font-family: 'sseight', Arial;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  padding-top: 3px;
}
.notepercent strong
{
  font-family: 'samsungbold', Arial;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #c41927;
  vertical-align: middle;
  display: inline-block;
  padding: 3px 13px 2px 16px;
  border-radius: 12px;
}
.img_pro a,
.info_price {
  display: block;
}

.box_pro_info {
  position: relative;
  background-color: #fff;
}

.info_name {
  text-align: center;
  height: 35px;
  line-height: 19px;
  overflow: hidden;
  color: #000;
  font-size: 14px;
  font-family: 'ssfive', Arial, Tahoma;
  font-weight: normal;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.box_pro_info,
.box_muangay {
  width: 100%;
  text-align: center;
}

.price_strike {
  color: #8c8c8c;
  font-size: 16px;
  text-decoration: line-through;
  font-family: Arial, Tahoma;
  display: block;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
}

.info_price {
  padding: 5px 0;
  overflow: hidden;
  background-color: #f1f2f2;
}

.info_price span {
  font-family: 'Roboto_Regular', Arial, Tahoma;
  font-weight: normal;
  margin-right: 5px;
  font-size: 14px;
}

.info_price strong {
  color: #d70d15;
  font-size: 24px;
  font-family: 'samsungbold', Arial, Tahoma;
  font-weight: normal;
}

.show_gift_promo,
.none_gift_promo {
  text-align: center;
  font-size: 14px;
  font-family: 'samsungmedium', Arial, Tahoma;
  width: 98%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.show_gift_promo span {
  font-family: 'Roboto_Bold', Arial, Tahoma;
  font-size: 18px;
  color: #006ba9;
}

.show_gift_promo p {
  color: #f1de71;
  margin: 0 auto;
  line-height: 35px;
  font-family: 'samsungmedium', Arial, Tahoma;
  font-size: 14px;
}

.box_muangay {
  margin: 13px auto;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 13px;
}

.box_muangay:hover .add_muangay {
  color: #f8ee43;
}

.add_muangay {
  display: inline-block;
  background-image: url(../img/goi-ngay.png);
  margin-right: 2%;
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 35px;
  vertical-align: middle;
}
.add_muangay1 {
  display: inline-block;
  background-image: url(../img/xem-chi-tiet.png);
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  width: 145px;
  height: 35px;
  vertical-align: middle;
}
.boxseemore {
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
}

.btn_seemore {
  display: inline-block;
  line-height: 72px;
  color: #9f0000;
  text-transform: uppercase;
  font-family: sseight, Arial, Tahoma;
  font-size: 16px;
  position: relative;
  width: 372px;
  height: 72px;
  background-image: url(../img/btn-more.png);
  background-position: center top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.btn_seemore:hover {
  color: #0d286d;
}
footer {
  clear: both;
  background: #fff url(../img/footer_03.jpg) no-repeat center center;
  font-family: samsungbold, Arial, Tahoma;
  font-size: 14px;
  color: #000;
  margin: 0 auto;
  padding: 15px 10px 0px 0px;
  text-align: center;
  line-height: 80px;
}

@media only screen and (max-width: 1024px) {
  .img_pro img {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .header_col_banner {
    height: auto;
    position: static;
    float: left;
    width: 51%;
  }
  .none { display:block;}
.block { display:none;}

  .menunav {
    padding: 0;
  }

  .box_content {
    padding-top: 2%;
  }

  .box_content > ul > li {
    width: 48%;
    border: 1px solid #ddd;
    margin-bottom: 3px;
  height: auto;
  }
  .list_product li:nth-child(2n+1){
    margin-left: 1%;
  }
  header,
  section {
    height: auto;
    background-size: cover;
  }

  .info_program {
    width: 100%;
  }

  .img_pro {
    height: auto;
  }

  .btn_getcode {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .menunav li.current_tab_dt:after {
    display: none;
  }

  .menunav li a {
    font-size: 16px;
  }

  .menunav li a:after {
    display: none;
  }

  .position_logo {
    text-align: center;
  }
  .header_col2 h1{
    font-size: 40px;
  }
  .header_col2 h2{
    font-size: 45px;
  }
  .boxsilk:before{
    display: none;
  }
  .boxsilk:after{
    display: none;
  }
  .list_product li{
    width: 48%;
  }
}

@media only screen and (max-width: 600px) {
  .menunav li {
    width: 50%;
    padding: 14px 0px;
    text-align: center;
  }

  .menunav li.current_tab_dt {
    padding: 14px 0px;
  }
  .list_bannershow li
  {
    -webkit-box-flex: 1;
    flex: 1 1 25%;
    -moz-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    -webkit-flex: 1 1 25%;
    margin-bottom: 4%;
  }
  .list_bannershow li a strong{
    font-size: 20px;
  }
  .list_bannershow li a span{
    font-size: 16px;
  }
  .info_price {
    font-size: 18px;
    font-size: 4.5vw;
  }
  .list_bannershow{
    margin-bottom: 0px;
  }
  .info_price strong {
    font-size: 14px;
    font-size: 3.5vw;
  }

  .tab_category {
    font-size: 18px;
    font-size: 4.5vw;
  }

  .show_gift_promo:before {
    display: none;
  }

  .show_gift_promo p {
    padding-left: 0px;
  }

  .add_muangay {
    margin-bottom: 10px;
  }
  .header_col_banner{
    width: 100%;
  }
  .header_col2{
    width: 99%;
  }
  .logodmcl{
    display: none;
  }
  .header_col_banner .logosamsung .mobi_dmcl{
    display: inline-block;
    text-align: right;
    float: right;
  }
  .header_col_banner img{
    display: inline-block;
  }
  .boxnav{
    background-size: cover;
  }
}

@media only screen and (max-width: 450px) {
  .box_muangay {
    width: 90%;
  }

  .info_name {
    font-size: 4vw;
  }

  .show_gift_promo {
    font-size: 3vw;
  }

  .none_gift_promo {
    font-size: 3vw;
  }

  .box_name_cate {
    width: 98%;
  }

  .info_price strong {
    font-size: 16px;
    font-size: 4.2vw;
  }

  .menunav {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
  }

  .menunav li {
    -webkit-box-flex: 1;
            flex: 1 1 25%;
    -moz-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    -webkit-flex: 1 1 25%;
  }

  .show_gift_promo span {
    font-size: 15px;
  }
  .header_col2 h1{
    font-size: 30px;
  }
  .header_col2 h2{
    font-size: 35px;
  }
  footer{
    line-height: 25px;
  }
  .list_bannershow li a strong{
    font-size: 16px;
  }
  .list_bannershow li a span{
    font-size: 12px;
  }
  .boxnav a{
    font-size: 17px;
  }
  .logosamsung{
    text-align: center;
  }
  .header_col_banner .logosamsung .mobi_dmcl{
    float: none;
    text-align: center;
    margin-top: 10px;
  }
}
