<!DOCTYPE html>
<html lang="vi-VN">
    <head>
        <title>Giải phóng hàng tồn- hàng trưng bày giảm đến 50% tv, tủ lạnh, máy lạnh, máy giặt, gia dụng, nội thất | Điện Máy Chợ Lớn</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="author" content=" Siêu thị điện máy Chợ Lớn ">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Giải phóng hàng tồn- hàng trưng bày giảm đến 50% các sản phẩm tv, máy lạnh, máy giặt, tủ lạnh, gia dụng, di dộng tại Siêu thị điện máy Chợ Lớn">
        <meta content="INDEX,FOLLOW" name="robots">
        <meta property="og:locale" content="vi_VN">
        <meta property="og:type" content="product">
        <meta property="og:url" content="http://khuyenmai.dienmaycholon.vn/chuongtrinhdacbiet/tat-ca-deu-re">
        <meta property="og:site_name" content="Siêu thị điện máy nội thất Chợ Lớn">
        <meta property="og:title" content="Giải phóng hàng tồn- hàng trưng bày giảm đến 50% tại Siêu thị điện máy Chợ Lớn">
        <meta property="og:description" content="Giải phóng hàng tồn- hàng trưng bày giảm đến 50% các sản phẩm tv, máy lạnh, máy giặt, tủ lạnh, gia dụng, di dộng tại Siêu thị điện máy Chợ Lớn">
        <meta property="og:image" content="https://dienmaycholon.vn/dmcl/images/tat-ca-re-1.jpg">
        <meta property="article:publisher" content="https://www.facebook.com/dienmaycholononline">
        <link type="image/x-icon" rel="Shortcut Icon" href="https://dienmaycholon.vn/public/default/img/favicon.ico">

        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;amp;subset=vietnamese" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=vietnamese" rel="stylesheet">

        <link href="css/animate.css" type="text/css" rel="stylesheet">
        <link href="css/stock.css" type="text/css" rel="stylesheet">

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-66144215-1', 'auto');
            ga('send', 'pageview');
        </script>
        <script type="text/javascript" src="js/stock.js"></script>
    </head>
    <body>
        <header>
            <div class="container_screen bg_test">
                <div class="header_col">
                    <a href="https://dienmaycholon.vn/" title="Khuyến mãi tờ rơi" target="_blank" class="logodmcl mobi1">
                        <img class="animated fadeInDown" src="img/logo-4.png" alt="logo Siêu thị điện máy Chợ Lớn">
                    </a>
                    <div class="header_col2">
						<a href="https://dienmaycholon.vn/khuyen-mai/khuyen-mai-bao" title="Khuyến mãi tờ rơi" target="_blank" class="img_left">
                            <img class="animated fadeInDown mobi2" src="img/logo-4.png" alt="logo Siêu thị điện máy Chợ Lớn">
							<img class="floating" src="img/banner-samsung-4.png" alt="Khuyến mãi tờ rơi" />
						</a>
                        <a class="img_right" href="https://dienmaycholon.vn/may-giat/may-giat-midea-90-kg-mfg901200" target="_blank" title="Máy Giặt MIDEA 9.0 Kg MFG90-1200">
                            <img class="animated fadeInRight" src="img/tat-ca-deu-re-4.png" alt="Máy Giặt MIDEA 9.0 Kg MFG90-1200 tặng tv sharp" />
                        </a>
						<p class="p_branch">
							<img class="animated fadeInUp" src="img/branch.png" alt="nhãn hàng tv nổi tiếng" />
						</p>
                        <p class="p_branch">
                            <img class="animated fadeInUp" src="img/title-tab.jpg" alt="hàng trưng bày" />
                        </p>
                    </div>
                </div>
            </div>
        </header>
        <section class="sec1">
            <nav>
                <ul class="menunav">
                    <li class="menunav_li current_tab_dt" idx="1" cate="" data-href="#dien-tu">
                        <i class="icon dien-tu"></i>
                        <i class="icon2 i2019"></i>
                        <a href="#dien-tu" title="điện tử">điện tử</a>
                    </li>
                    <li class="menunav_li" idx="2" cate="" data-href="#dien-lanh">
                        <i class="icon dien-lanh"></i>
                        <i class="icon2 i2019"></i>
                        <a href="#dien-lanh" title="Di động">điện lạnh</a>
                    </li>
                    <li class="menunav_li" idx="3" cate="" data-href="#gia-dung">
                        <i class="icon gia-dung"></i>
                        <i class="icon2 i2019"></i>
                        <a href="#gia-dung" title="Tủ lạnh">gia dụng</a>
                    </li>
                    <li class="menunav_li" idx="6" cate="" data-href="#noi-that">
                        <i class="icon noi-that"></i>
                        <i class="icon2 i2019"></i>
                        <a href="#noi-that" title="Máy lạnh">nội thất</a>
                    </li>
                    <li class="menunav_li" idx="4" cate="" data-href="#dien-tu-trung-bay">
                        <i class="icon icon_none"></i>
                        <i class="icon2 iold"></i>
                        <a href="#dien-tu-trung-nay" title="điện tử">điện tử</a>
                    </li>
                    <li class="menunav_li" idx="5" cate="" data-href="#dien-lanh-trung-bay">
                        <i class="icon icon_none"></i>
                        <i class="icon2 iold"></i>
                        <a href="#dien-lanh-trung-bay" title="điện lạnh">điện lạnh</a>
                    </li>
                    <li class="menunav_li" idx="6" cate="" data-href="#gia-dung-trung-bay">
                        <i class="icon icon_none"></i>
                        <i class="icon2 iold"></i>
                        <a href="#gia-dung-trung-bay" title="gia dụng">gia dụng</a>
                    </li>
                </ul>
            </nav>
            <div class="container_screen">
                <div class="box_content my_box_content1">
                    <ul class="list_product">
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                <img src="img/frame-is-event-250-1.png" alt="" class="frame_3QV8" />
                                <b class="notepercent">
                                    30 <sup>%</sup>
                                </b>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                <img src="img/frame-is-event-250-1.png" alt="" class="frame_3QV8" />
                                <b class="notepercent">
                                    30 <sup>%</sup>
                                </b>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                <img src="img/frame-is-event-250-1.png" alt="" class="frame_3QV8" />
                                <b class="notepercent">
                                    30 <sup>%</sup>
                                </b>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="boxseemore"><button class="btn_seemore" type="button"> <span>XEM THÊM <b class="b_num"></b> SẢN PHẨM KHÁC</span></button></div>
                </div>
                <div class="box_content my_box_content2">
                    <ul class="list_product">
                        
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_13937_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="boxseemore"><button class="btn_seemore" type="button"> <span>XEM THÊM <b class="b_num"></b> SẢN PHẨM KHÁC</span></button></div>
                </div>
                <div class="box_content my_box_content3">
                    <ul class="list_product">
                        
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="boxseemore"><button class="btn_seemore" type="button"> <span>XEM THÊM SẢN PHẨM KHÁC</span></button></div>
                </div>
                <div class="box_content my_box_content4">
                    <ul class="list_product">
                        
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="boxseemore"><button class="btn_seemore" type="button"> <span>XEM THÊM SẢN PHẨM KHÁC</span></button></div>
                </div>
                <div class="box_content my_box_content5">
                    <ul class="list_product">
                        
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="boxseemore"><button class="btn_seemore" type="button"> <span>XEM THÊM SẢN PHẨM KHÁC</span></button></div>
                </div>
                <div class="box_content my_box_content6">
                    <ul class="list_product">
                        
                        <li> 
                            <a class="img_pro" href="#" title="#" target="_blank">
                                <img src="https://dienmaycholon.vn/public/picture/tmp/product_12762_220_220.jpg" alt="#" />
                                
                                <img src="img/frame-is-event-250-2.png" alt="" class="frame_3QV8" />
                                <p class="psb_2">
                                    <strong>Tặng tủ lạnh Aqua<br /> 120 lít</strong>
                                    <b>2.3 <span>TRIỆU</span> </b>
                                </p>
                            </a>
                            <div class="info_price">
                                <a href="#" title="#" target="_blank">
                                    <h3 class="info_name">Smart Tivi QLED SAMSUNG 55 Inch QA55Q6FNAKXXAAA</h3>
                                </a>
                                <div class="showprice">
                                    <span>Giá online: 3.999.000đ</span>
                                </div>
                                <div class="show_desc">
                                    <span class="price_strike">Giá hãng: 5.990.000đ </span>
                                </div>
                            </div>
                            <div class="box_pro_info">
                                <div class="box_muangay">
                                    <a class="add_muangay1" href="#" title="Mua ngay" target="_blank">ĐẶT MUA ONLINE</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="boxseemore"><button class="btn_seemore" type="button"> <span>XEM THÊM SẢN PHẨM KHÁC</span></button></div>
                </div>
            </div>
        </section>
        <footer>
            <p>Bản quyền © 2001 - 2019 thuộc về Công ty TNHH Cao Phong</p>
        </footer>
        <div id="bttop"><img class="block" src="img/uptop.png" width="50" height="51"><img class="none" src="img/uptop-mb.png" width="30" height="31"></div>
    </body>
</html>